*~
*.log
config.status
CHANGES
Makefile.conf
access.xml
acc.xml
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
configure.lineno
util.gpr
tests.xml
util-test.xml
util-aunit.xml
util-junit.xml
test-write.txt
test-stream.txt
autom4te.cache
bin/
lib/
obj/
regtests/util-testsuite.adb
regtests/results
src/sys/http/curl/util-http-clients-curl-constants.ads
src/sys/os-generated
string-append.csv
string.csv
util-tests.xml
utilada.gpr
utilada_xml.gpr
utilada_conf.gpr
utilada_http.gpr
utilada_unit.gpr
utilada_lzma.gpr
utilada_tests.gpr
*.substvars
debian/lib*
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
docs/utilada-book.html
wiki
cover
alire
util.cov
