*~
*.log
config.status
CHANGES
access.xml
acc.xml
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
configure.lineno
Makefile
util.gpr
tests.xml
util-test.xml
util-aunit.xml
util-junit.xml
test-write.txt
test-stream.txt
autom4te.cache
distrib/util_http.gpr
distrib/util_http_aws.gpr
distrib/util_http_curl.gpr
distrib/util_unit.gpr
*.txt
lib/
obj/
regtests/util-testsuite.adb
src/http/curl/util-http-clients-curl-constants.ads
src/util-systems-constants.ads
src/util-systems-types.ads
string-append.csv
string.csv
util-tests.xml
util_http.gpr
util_http_aws.gpr
util_http_curl.gpr
util_unit.gpr
doc/util-book.pdf
doc/util-book.html

                                                               