*~
*.log
CHANGES
Makefile.conf
access.xml
acc.xml
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
tests.xml
util-test.xml
util-aunit.xml
util-junit.xml
test-write.txt
test-stream.txt
autom4te.cache
bin/
lib/
obj/
regtests/src/util-testsuite.adb
regtests/results
src/sys/os-generated
string-append.csv
string.csv
util-tests.xml
*.substvars
debian/lib*
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
docs/utilada-book.html
wiki
cover
alire
util.cov
