dist: bionic

language: generic

install:

  # Install GNAT FSF
  - sudo apt-get -y install gnat gprbuild libxmlada-sax7-dev

  # Install lcov for coverage
  - sudo apt-get -y install lcov

script:
  - ./configure --enable-coverage
  - make build test
  - sh ./coverage.sh

after_success:
  - bash <(curl -s https://codecov.io/bash) -f util.cov
