Source: libada-util
Priority: extra
Maintainer: Stephane Carrez <Stephane.Carrez@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, gnat, gnat-4.6, libxmlada4.1-dev
Standards-Version: 3.9.2
Section: libs
Homepage: http://code.google.com/p/ada-util/
#Vcs-Git: git://git.debian.org/collab-maint/ada-util.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/ada-util.git;a=summary

Package: libada-util1.7
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Ada Utility Library
 This Ada05 library contains various utility packages for building
 Ada05 applications.

Package: libada-util1.7-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libada-util1.7 (= ${binary:Version}), gnat, gnat-4.6
Suggests: libada-util1.7-dbg
Description: Ada Utility Library (Development files)
 This Ada05 library contains various utility packages for building
 Ada05 applications.  This includes:
 o A logging framework close to Java log4j framework,
 o Support for properties
 o A serialization/deserialization framework for XML, JSON, CSV
 o Ada beans framework
 o Encoding/decoding framework (Base16, Base64, SHA, HMAC-SHA)
 o A composing stream framework (raw, files, buffers, pipes, sockets)
 o Several concurrency tools (reference counters, counters, pools, fifos,
   arrays)
 o Process creation and pipes

Package: libada-util1.7-aws-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libada-util1.7 (= ${binary:Version}), libada-util1.7-dev, gnat, gnat-4.6, libaws2.10.2-dev
Description: Ada Utility Library AWS HTTP Client
 This is the AWS extension for the Util.Http.Clients package.

Package: libada-util1.7-curl-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libada-util1.7 (= ${binary:Version}), libada-util1.7-dev, gnat, gnat-4.6, libcurl3
Description: Ada Utility Library CURL HTTP Client
 This is the CURL extension for the Util.Http.Clients package.

Package: libada-util1.7-unit-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libada-util1.7 (= ${binary:Version}), libada-util1.7-dev, gnat, gnat-4.6
Description: Ada Test Utility Library
 This library provides support and helpers for writing Ada unit tests.
 The unit test framework is based on Ahven.

Package: libada-util1.7-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Debugging symbols for the Ada Utility Library
 Ada Utility Library provides a set of utility packages to help in the
 development of Ada applications.
 .
 This is the library containing debugging symbols for the Ada Utility
 Library.

