Source: libutilada
Priority: optional
Section: libdevel
Maintainer: Stephane Carrez <Stephane.Carrez@gmail.com>
Build-Depends: debhelper (>= 10), autotools-dev,
 dh-ada-library,
 gnat, gnat-9,
# This line is parsed by debian/rules.
 gprbuild (>= 2015-2),
 libxmlada-sax9-dev,
 liblzmada3-dev,
 libaws19-dev,
# pandoc requires texlive-fonts-extra for PDF
 pandoc, texlive-fonts-extra
Standards-Version: 4.1.4
Homepage: https://github.com/stcarrez/ada-util/
Vcs-Git: https://github.com/stcarrez/ada-util.git -b debian-gnat-9
Vcs-Browser: https://github.com/stcarrez/ada-util/tree/debian-gnat-9

Package: libutilada-core2.5.0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Ada Utility Library (runtime)
 This Ada05 library contains various utility packages for building
 Ada05 applications.

Package: libutilada-base2.5.0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Ada Utility Library (runtime)
 This Ada05 library contains various utility packages for building
 Ada05 applications.

Package: libutilada-sys2.5.0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libutilada-base2.5.0 (= ${binary:Version})
Description: Ada Utility Library (runtime)
 This Ada05 library contains various utility packages for building
 Ada05 applications.

Package: libutilada-unit2.5.0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libutilada-sys2.5.0 (= ${binary:Version})
Description: Ada Test Utility Library (runtime)
 This library provides support and helpers for writing Ada unit tests.
 The unit test framework is based on Ahven.

Package: libutilada-xml2.5.0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libutilada-sys2.5.0 (= ${binary:Version})
Description: Ada Utility Library XML serialization (runtime)
 This is the XML serialization support for the Util.Serialize package.

Package: libutilada-lzma2.5.0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libutilada-sys2.5.0 (= ${binary:Version})
Description: Ada Utility Library LZMA streams (runtime)
 This is the LZMA stream support for the Util.Streams package.

Package: libutilada-aws2.5.0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libutilada-aws2.5.0 (= ${binary:Version})
Description: Ada Utility Library AWS HTTP Client (runtime)
 This is the AWS extension for the Util.Http.Clients package.

Package: libutilada-curl2.5.0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libutilada-sys2.5.0 (= ${binary:Version})
Description: Ada Utility Library Curl HTTP Client (runtime)
 This is the CURL extension for the Util.Http.Clients package.

Package: libutilada3-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}
Suggests: libutilada-doc (= ${source:Version})
Description: Ada Utility Library (Development files)
 This package provides the GNAT projects to help build Ada05 applications
 using the Ada Utility Library.

Package: libutilada-core3-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${ada:Depends}
Suggests: libutilada-doc (= ${source:Version})
Description: Ada Utility Library (Development files)
 This Ada05 library contains various utility packages for building
 Ada05 applications.  This includes:
 o Several concurrency tools (reference counters, counters, pools, fifos,
   arrays)

Package: libutilada-base3-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${ada:Depends}
Suggests: libutilada-doc (= ${source:Version})
Description: Ada Utility Library (Development files)
 This Ada05 library contains various utility packages for building
 Ada05 applications.  This includes:
 o A logging framework close to Java log4j framework,
 o Support for properties
 o Ada beans framework

Package: libutilada-sys3-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${ada:Depends}
Suggests: libutilada-doc (= ${source:Version})
Description: Ada Utility Library (Development files)
 This Ada05 library contains various utility packages for building
 Ada05 applications.  This includes:
 o A serialization/deserialization framework for XML, JSON, CSV
 o Encoding/decoding framework (Base16, Base64, SHA, HMAC-SHA)
 o A composing stream framework (raw, files, buffers, pipes, sockets)
 o Process creation and pipes

Package: libutilada-aws3-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${ada:Depends}
Suggests: libutilada-doc (= ${source:Version})
Description: Ada Utility Library AWS HTTP Client
 This is the AWS extension for the Util.Http.Clients package.

Package: libutilada-xml3-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${ada:Depends}
Suggests: libutilada-doc (= ${source:Version})
Description: Ada Utility Library XML serialization
 This is the XML serialization support for the Util.Serialize package.

Package: libutilada-curl3-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${ada:Depends}
Suggests: libutilada-doc (= ${source:Version})
Description: Ada Utility Library CURL HTTP Client
 This is the CURL extension for the Util.Http.Clients package.

Package: libutilada-lzma3-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${ada:Depends}
Suggests: libutilada-doc (= ${source:Version})
Description: Ada Utility Library LZMA streams
 This is the LZMA stream support for the Util.Streams package.

Package: libutilada-unit3-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${ada:Depends}
Suggests: libutilada-doc (= ${source:Version})
Description: Ada Test Utility Library
 This library provides support and helpers for writing Ada unit tests.
 The unit test framework is based on Ahven.

Package: libutilada-doc
Section: libdevel
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Suggests: gnat
Description: Ada Utility Library (documentation)
 Ada Utility Library is an Ada05 library with various utility packages
 for building Ada05 applications.  This includes:
 o A serialization/deserialization framework for XML, JSON, CSV
 o Encoding/decoding framework (Base16, Base64, SHA, HMAC-SHA)
 o A composing stream framework (raw, files, buffers, pipes, sockets)
 o Process creation and pipes
 .
 This package contains the documentation for Ada Utility Library
 in HTML and PDF as well as several examples.
