#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

$(foreach line,$(shell sed -n '\
  s/^ gnat, gnat-\([0-9.]\+\),$$/ \
    GNAT_VERSION:=\1 \
  /p;\
  s/^Package: libutilada\([0-9.]\+\)$$/ \
    soname:=libutilada.so.\1 \
  /p;\
  ' debian/control),$(eval $(line)))

DH_VERBOSE=1
export DH_OPTIONS=-v

DEB_BUILD_MAINT_OPTIONS := hardening=+all
include /usr/share/dpkg/buildflags.mk
include /usr/share/ada/debian_packaging-$(GNAT_VERSION).mk
ADAFLAGS += -gnatafno -gnatVa -gnatwa

%:
	dh $@ --with ada-library

override_dh_auto_configure:
	dh_auto_configure -- --enable-shared --enable-default-shared \
	   --with-ada-lzma \
	   --enable-link-options-util=--no-as-needed,-ldl,--as-needed

override_dh_auto_build:
	make GPRFLAGS="-R -m -q"

override_dh_auto_test::

override_dh_auto_install::

.PHONY: override_dh_installexamples-indep
override_dh_installexamples-indep:
	dh_installexamples --indep

.PHONY: override_dh_installdocs-indep

override_dh_installdocs-indep:
	make doc
	dh_installdocs -i
